
body {
    font-family: 'Roboto', sans-serif;
}
#container{
    margin-top: 50px;
    margin-left: calc(40% - 100px);
}
#KQ{
    height: 80x;
    color: white;
    text-align: right; 
    font-size: 25px;
    background-color: rgba(0, 0, 0, .75);
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}
.btn{
    background-color: rgba(156, 234, 240, 0.75);
    color: black;
    width: 86px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.877);
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    padding-top: 10px;
}
.btn:hover {
    background-color:rgba(156, 234, 240, 0.425);
}
.row{
    display: table;
    table-layout: fixed;
    width: 400px;
}
.column {
    display: table-cell;
}
#calc-zero {
    width: 172.666667px;
    border-radius: 0 0 0 7px;
}
#calc-clear {
    width: 171.666667px;
}